name: Auto Merge PR with Specific Label
on:
  schedule:
    - cron: '00 2 * * 4' # 11:00 JST every Thursday
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.repository == 'Songmu/oss4.fun-private'
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false
    - id: generate_token
      uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
    - name: List pull requests
      id: list_prs
      run: |
        gh pr list --state open --json number,labels,title > prs.json
        for pr in $(jq -r '.[] | select(.labels[].name=="auto-merge") | .number' prs.json); do
          pr_title=$(jq -r '.[] | select(.number=='"$pr"') | .title' prs.json)
          echo "Merging PR #$pr - $pr_title"
          gh pr merge $pr --squash --repo ${REPO} --subject \
            "Auto-merged PR Songmu/oss4.fun-private#$pr: $pr_title"
        done
      env:
        REPO: ${{ github.repository }}
        GH_TOKEN: ${{ steps.generate_token.outputs.token }}
