name: push to public
on:
  push:
    branches: [main]
jobs:
  push:
    runs-on: ubuntu-latest
    if: github.repository == 'Songmu/oss4.fun-private'
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - id: generate_token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
        repositories: oss4.fun
    - uses: Songmu/action-push-to-another-repository@9a7fe32305f083e5e0984e345f30940d0ff87706 # v2.0.11
      with:
        token: "${{ steps.generate_token.outputs.token }}"
        destination-repository: Songmu/oss4.fun
